@import 'colors';
@import 'layout';

@if $UIRefresh2022 {
  .tooltip {
    visibility: hidden;
    width: max-content;
    background-color: $flamingo;
    color: $white;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    right: 110%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    white-space: nowrap;
    padding: 2px 4px;
    line-height: 30px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;

    &::after {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 100%; /* To the right of the tooltip */
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent $flamingo;
    }
  }

  .archive-panel {
    position: fixed;
    right: 80px;
    bottom: 20px;
    width: 260px;
    height: 150px;
    background: $grey-lightest;
    box-shadow: 0 2px 8px $grey-light;
    overflow-y: auto;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    padding: 12px;
    z-index: 10;
  }

  .archive-item {
    padding: 8px;
    border-bottom: 1px solid $grey-light;

    &:hover {
      background-color: $grey-light;
      cursor: pointer;
    }

    &__tooltip {
      visibility: hidden;
      width: max-content;
      background-color: $flamingo;
      color: $white;
      text-align: center;
      border-radius: 6px;
      position: absolute;
      left: 40%;
      transform: translateY(-80%);
      font-size: 14px;
      white-space: nowrap;
      padding: 4px 8px;
      line-height: 30px;

      /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
      opacity: 0;
      transition: opacity 1s;

      &::after {
        content: ' ';
        position: absolute;
        top: 50%;
        right: 100%; /* To the left of the tooltip */
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent $black transparent transparent;
      }
    }

    &:hover .archive-item__tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  #loader {
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: $grey-dark;
  }

  .fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000;
  }

  .fab {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $flamingo-dark;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 28px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
      background 0.3s,
      transform 0.3s;

    &:hover {
      background-color: $flamingo;
    }
  }

  .fab.open .fab-icon {
    transform: rotate(45deg); /* Turn + into x */
  }

  .fab-icon {
    display: inline-block;
    transition: transform 0.3s;
  }

  .fab-actions {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .fab-action {
    width: 56px;
    height: 56px;
    background-color: $flamingo-dark;
    color: white;
    border-radius: 50%;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    white-space: nowrap;
    pointer-events: none;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: $flamingo;
    }

    &:hover .tooltip {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s;
    }
  }

  .fab-action.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  @media (min-width: 1280px) {
    .fab-container {
      flex-direction: column-reverse;
    }

    .fab-actions {
      display: flex !important;
    }

    .fab-action {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    .fab {
      display: none;
    }
  }
}
